<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<head>
<link th:href="@{/css/common.css}" rel="stylesheet">
<link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<!--  헤더 및 Navigation Bar -->
	<header>
		<a href="/"><img th:src="@{/img/Logo1.svg}" id="logoimg"></a>

		<nav class="navbar navbar-expand-lg" id="navbarhead">
			<div class="container-fluid">

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">채용공고</a></li>
						<li class="nav-item"><a class="nav-link" href="#">기업리뷰</a></li>
						<li class="nav-item"><a class="nav-link disabled">Disabled</a>
						</li>
					</ul>
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item" sec:authorize="isAnonymous()"><a
							class="nav-link active" aria-current="page" href="/login">로그인</a></li>
						<li class="nav-item" sec:authorize="isAnonymous()"><a
							class="nav-link active" aria-current="page" href="/join">회원가입</a></li>
						<li class="nav-item" sec:authorize="isAuthenticated()"><a
							class="nav-link active" aria-current="page" href="/logout">로그아웃</a></li>
						<li class="nav-item" sec:authorize="isAuthenticated()"><a
							class="nav-link active" aria-current="page" href="/logout">마이페이지</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!-- 구인공고 리스트 -->
	<div th:if="${sort} == 'company'">
		<button name="recruitList_button" id="new_recruit"
			onClick="newRecruit()">공고 작성하기</button>
	</div>

	<!-- 검색 입력 버튼 -->
	<form action="/recruitpage/list" method="get">
		<div>
			<input type="text" id="searchKeyword" name="searchKeyword">
			<button type="submit">검색</button>
		</div>
	</form>

	<!-- 채용공고 리스트 -->
	<div th:if="${size} != 0">
		<table id="recruitList">
			<label>구인공고 리스트</label>
			<thead>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성 / 수정일</th>
				<th>마감일</th>
			</thead>

			<tbody>
				<tr th:each="recruitList : ${recruitList}">
					<td th:text="${recruitListStat.index + 1}"></td>
					<td th:text="${recruitList.title}" th:onClick="|location.href='@{/recruitpage/detail/{id}(id=${recruitList.id})}'|" style="cursor: pointer;"></td>
					<td th:text="${recruitList.writer}"></td>
					<td th:if="${recruitList.modifydate == null}"
						th:text="${recruitList.registerdate}"></td>
					<td th:unless="${recruitList.modifydate == null}"
						th:text="${recruitList.modifydate}"></td>
					<td th:text="${recruitList.deadline}"></td>
				</tr>
			</tbody>

		</table>
	</div>
	<div th:unless="${size} != 0">


		<table id="recruitList">

			<tbody>
				<tr>
					<td>채용공고가 업습니다.</td>
				</tr>
			</tbody>
			</tbody>
		</table>

	</div>

	<!-- 페이징 처리 -->
	<!-- <nav style="text-align: center;">
		<ul class="pagination"
			th:with="start=${recruitList.number/maxPage) * maxPage + 1}, end=(${(recruitList.totalPages == 0) ? 1 : (start + (maxPage - 1) < recruitList.totalPages ? start + (maxPage - 1) : recruitList.totalPages)})">

			
			<li th:if="${start > }"><a
				th:href="@{/recruitpage/list(page=0)}" th:text="'처음'"></a></li>

			
			<li th:if="${start > 1}"><a
				th:href="@{/recruitpage/list(page=${start - maxPage})}"
				th:text="'이전'"></a></li>

			
			<li th:each="page: ${#numbers.sequence(start, end)}"><a
				th:href="@{/recruitpage/list(page=${page - 1})}" th:text="${page}"></a>
			</li>

			
			<li th:if="${end < recruitList.totalPages}"><a
				th:href="@{/recruitpage/list(page=${start + maxPage})}"
				th:text="'다음'"></a></li>

			
			<li th:if="${end < recruitList.totalPages}"><a
				th:href="@{/recruitpage/list/(page=${recruitList.totalPages - 1})}"
				th:text="'마지막'"></a></li>
		</ul>
	</nav>
 -->

	<!-- Footer 제작 공간 -->
	<footer
		style="text-align: center; margin-top: 300px; border-top: 1px black solid; width: 80%;">
		<div>Footer 입니다.</div>
	</footer>
</body>
</html>

<script th:inline="javascript">
	var check = "[[${check}]]";
	console.log(check);
</script>
<script type="application/javascript" th:src="@{/js/RecruitList.js}"></script>

<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
	rel="stylesheet">



