@charset "UTF-8";

#contenttable {
	margin-top: 80px;
	font-size: 13px;
	
}

#contenttable tbody tr td {
	height: 20px;

}

#tablebody {
	border-top: 2px solid darkgrey;
}

#contenttable .col1st {
	width: 120px;
	
	padding: 14px;
}

#contenttable .col2nd {
	width: 400px;	
	padding: 14px;
}

.blankcol {
	width: 150px;
}

.buttoncol {
	width: 100px;
	height: 50px;
}

#buttons {
    margin-top: 50px;
}

