@charset "UTF-8";

#sidebar {

	
	list-style-type: none;
}

#sidebar li {
	justify-content: center;
	text-align: center;
	height: 30px;
	background-color: lightgrey;
	width: 220px;
}

#sidebar li:hover {
	justify-content: center;
	height: 30px;
	background-color: grey;
	width: 220px;
	cursor: pointer;
	text-align: center;
}

#contenttable {
	margin-top: 80px;
	border: solid black 0.25px;
}

#contenttable td {
	height: 60px;
}

#contenttable .col1st {
	width: 120px;
	background-color: lightgrey;
	padding: 14px;
}

#contenttable .col2nd {
	width: 400px;	
	padding: 14px;
}


