@charset "UTF-8";

* {
	margin: 0 auto;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
	text-decoration-line: none;
	
}


header {
	color: white;
}


#navbarhead {
	background-color: #0d62fd;
	width: 1000px;
	font-size: 1.25rem;
	border-radius: 20px;
	
}

.navbar-nav .nav-link {
    color: white; /* 내부 글자 색상을 빨간색으로 변경 */
}

.navbar-nav .nav-link:hover {
	color: #ffc107;
}

#logoimg {
	width: 400px;
	height: 150px;
	text-align: center;
	margin: auto;
	display: block;
}

footer {
	text-align: center; 
	margin-top: 300px; 
	border-top: 1px black solid; 
	width: 1000px;
}

