@charset "UTF-8";



#cardtitle {
	cursor: pointer;
	font-size: 15px;
	height: 5rem;
}

#cardbody {	
	cursor: pointer;
	font-size: 13px;
}

#tablebody {
	padding: 0.5rem;
}

#card {
	width: 11rem;
	height: 11rem;
	cursor: pointer;
}

#recruit_table {
	width: 60rem;
}

#notice_table  {
	width: 60rem;	
}