@charset "UTF-8";


#resume_img {
	width: 100px;
	height: 140px;
}

.table_head {
	text-align: left;
	
}

table {
	width: 650px;
	margin-bottom: 40px;
	border-bottom: black 2.5px solid;
}

.indexprint {
	vertical-align: top;
}

.tablebody {
	margin-bottom: 40px;
}


