<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>회원 정보</title>
</head>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<body>
	<div th:fragment="content">
		<div id="resume" th:if="${resume} != null">
			<label th:for="title">이력서 제목</label>
			<p id="resumetitle" th:field="*{title}" th:text="${resume.title}"></p>
			<label>등록일</label>
			
		</div>
		
		<div id="resume" th:if="${resume} == null">
			<button type="button" onClick="location.href='/mypage/resume/new'">이력서 작성</button>
		</div>
	</div>
</body>
</html>
<script th:inline="javascript">
	
	</script>
<script type="application/javascript" th:src="@{/js/Resume.js}"></script>